.u-mode-center-box {
	max-width: 100%;
}

uni-modal {
	z-index: 99998;
}

.uni-table-scroll {
	min-height: 150px;
}
.uni-search{
	min-width: 100px !important;
}
@media screen and (max-width: 500px) {
.uni-header .uni-title{
	display: none;
}
}
