// 此文件为uView的主题变量，这些变量目前只能通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每一个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-type-primary: #7275D3;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;
// 自定义
// $u-type-primary:#4EC080;
// //次要辅助文本
// $er-fonts:24rpx;
// //次要描述文本
// $er-fontm:26rpx;
// //次要文本
// $er-fontl:28rpx;
// //列表标题文本
// $er-fontxl:30rpx;
// //大按钮文本，需要着重显示的文本
// $er-fontx2l:32rpx;
// //页面大标题文本
// $er-fontx3l:36rpx;
// //金钱，数字，时间等需要着重显示时使用的文本
// $er-fontx4l:40rpx;
// //标题颜色
// $er-text-color:#303133;
// //次要文本颜色:
// $er-textm-color:#999999;
// //钱文本颜色
// $er-price-color:#e64340;
// 页面整体背景色

// 基础样式
// .er-bold{
// 	font-weight: bold;
// }
// //页面box样式
// .er-page-box{
// 	width: 750rpx;margin: 0;padding: 0;height: 100%;
// }
// //内容区box样式
// .er-content-box{
// 	padding: 15rpx;margin: 0;background-color: #FFFFFF;width: 100%;
// }
// //展示性标题
// .er-title-big{
// 	font-size: $er-fontx3l;font-weight: bold;line-height: 50rpx;color:$er-text-color;
// }
// //主标题
// .er-title{
// 	font-size: $er-fontx2l;font-weight: bold;line-height: 150%;color:$er-text-color;
// }

// /* list 列表 */
// //list列表title
// .er-list-title{
// 	font-size: $er-fontxl;line-height: 48rpx;color: $er-text-color;
// }
// //list列表title 加粗
// .er-list-title-b{
// 	font-size: $er-fontxl;line-height: 48rpx;color: $er-text-color;
// }
// //list次要文本
// .er-list-fontm{
// 	font-size: $er-fontm;color: $er-textm-color;line-height: 150%;
// }
// //list次要辅助文本
// .er-list-fonts{
// 	font-size: $er-fonts;color: $er-textm-color;line-height: 150%;
// }
// //list金钱文本
// .er-list-price{
// 	font-size: $er-fontl;color: $er-price-color;line-height: 150%;
// }
// .er-list-price-big{
// 	font-size: $er-fontx4l;color: $er-price-color;line-height: 150%;
// }
// /* list End */

// /* tab 列表 */
// //tab选项卡文本
// .er-tab-title{
// 	font-size: $er-fontl;line-height: 48rpx;color: $er-text-color;
// }
// .er-tab-title-bold{
// 	font-size: $er-fontl;line-height: 48rpx;color: $er-text-color;font-weight: bold;
// }
// .er-tab-title-active{
// 	font-size: $er-fontxl;line-height: 48rpx;color: #000000;font-weight: bold;
// }
// //table th文本
// .er-table-th{
// 	font-size: $er-fontxl;line-height: 48rpx;color: $er-text-color;
// }
// /* tab 结束 */

// //卡片样式
// .er-card{
// 	border: 1px solid $er-text-color;border-radius: 20rpx;
// }
// // 外层容器

// .wrap-container{
// 	margin:10px;
// 	background: #fff;
// 	border-radius: 10px;
// }
// .wrap-container-padding{
// 	padding: 10px;
// }


/***字体大小规范***/
$e-basesmall-font:25rpx;
$e-base-font:30rpx;
$e-main-font:1em;
$e-small-font:0.78em;
$e-mini-font:0.68em;
$e-normal-font:1em;
$e-import-font:1.1em;
$e-normal-margin:0.63em;
$e-small-margin:0.5em;
$e-big-margin:1em;
$e-mini-margin:0.25em;
$e-small-import-font:1.40em;

/***颜色定义***/
$e-import-color:#ee0000;
$e-gray-color:#aaa;

/***行间距***/
$e-text-lineheight:1.8em;
$e-text-indent:2em;
$e-normal-lineheight:1.6em;
$e-small-lineheight:1em;

$e-normal-radio:6px;